# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Virtual Env
venv/
env/
ENV/
.venv/
.virtualenv/

# IDEs / Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# ==========================
# Django Related
# ==========================

# SQLite database
db.sqlite3
db.sqlite3-journal

# Django logs
*.log

# Media & Static (generated)
media/
staticfiles/
static/
build/

# Local environment variables
.env
.env.local

# ==========================
# Project specific
# ==========================

# DO NOT UPLOAD these runtime Django folders
SE_project/TaskManager/staticfiles/
SE_project/TaskManager/media/

# Cache
*.cache
.cache/

# Python byte-compiled files
__pycache__/
